*{
    background-origin: padding-box;
}
.text{
    font-family: sans-serif;
    background: black;
    text-align: -webkit-center;
    height: 200px;
    padding-top: 100px;
    color: yellow;
    font-size: 20px;
    font-weight: 300;
}
.top {display: flex;background: gray;color: white;font-family: sans-serif;}

.boxes {
    height: 40%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
}
img {
    padding: 30px;
    /* margin: auto; */
    width: 210px;
}
.middle.boxes {
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.box1{
    height: 150px;
    width: 150px;
    background: #cedcce;
    border-radius: 7px;
    display: flex;
    padding: 9px;
    margin: 30px;
}

.box2 {
    height: 150px;
    width: 150px;
    background: orange;
    border-radius: 7px;
    display: flex;
    padding: 9px;
    margin: 30px;
}
 
.bottom.color {
    background: #4f4f71;
    height: 100px;
}